$primary-color: var(--primary-color);
$text-color: var(--text-color);
$background: var(--background);
$surface-background: var(--surface-background);
$white: var(--white);
$border: var(--border);
$text-secondary: var(--text-secondary);
$row-border: var(--row-border);

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
